<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cxhello.admin.dao.UserDao">

    <select id="findAllByLikeNickName" parameterType="string" resultType="com.cxhello.admin.entity.User">
        select id,user_name as userName,nick_name as nickName,sex,birthday,telephone,email,address,description,
        password,delete_status as deleteStatus,locked,create_time as createTime,update_time as updateTime
        from tb_user
        <where>
            <if test="searchText!=null and searchText!=''">
                nick_name like '%${searchText}%'
            </if>
        </where>
    </select>

</mapper>